﻿body {
}

.royal-logo img {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 90px;
    transition: transform .2s;
}

.royal-logo:hover img {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.site-title {
    height:80px; 
    width:90px; 
    margin-top:-25px;
    transition: transform .2s;
}

    .site-title a:hover, .site-title a:active {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
        background-color:white;
    }



