﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Royal Systems Solutions</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>00000</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">All services:</span>
        <span><a href="solutions@royal.com">solutions@royal.com</a></span>
    </p>
    
</section>

